/**
 * Created with JetBrains WebStorm
 * User: brandonxavier (brandonxavier421@gmail.com)
 * Date: 6/20/13
 *

 Copyright 2013 Brandon Xavier (brandonxavier421@gmail.com)

 This file is part of CB-AppDevKit.

 CB-AppDevKit is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 CB-AppDevKit is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with CB-AppDevKit.  If not, see <http://www.gnu.org/licenses/>.

 */

/* TODO: Cleanup and optimize the css */

html {
    height:100%;
    width:100%;
}

body {
    height:100%;
    width:100%;
}

div {
    border:1px solid black;
    float:left;
    width:48%;
    height:30%;
    margin: 5px;
}

#Script {
    width:48%;
    height:25px;
    margin: 5px;
    margin-right: 125px;
}
.textareas {
    resize:none;
    width:95%;
    height:65%;
    margin:13px;
    overflow-y:scroll;
    display:block;
    font-family:monospace;

}

#panelTable, .panelHeadings {
    width:90%;
    height:45%;
    border:0px;
    padding:13px;
    margin: 13px auto;

}

.panelHeadings, .panelCell {
    width:45%;
    height: 20%;
    padding:0;
    margin:0;
    float:left;
    display: inline-block;
    text-align:center;
}

.panelCell {
    height:80%;
    min-width:290px;
    min-height:99px;
    font-family: 'UbuntuRegular', Arial, Helvetica, sans-serif;
   /* line-height: 1.4em; */
    font-size: 12px;

}

.panel, .panelEvenRow, .panelOddRow {
    padding:0;
    margin:13px;
    width:267px;
    height:70px;
    border:0px;
}

.panelOddRow {
    height:33%;
    margin:0px;
    background-color: #d5ebf8;
    border: 0px;
}

.panelEvenRow {
    height:33%;
    margin:0px;
    background-color: #f2f9fd;
    border:0px;
    overflow-y: visible;
}

.leftColumn {
    padding:0;
    margin:0;
    width:49%;
    text-align:right;
    border:0;
/*     font-weight:bold; */

}

.rightColumn {
    padding:0;
    padding-left:5px;
    margin:0;
    width:49%;
    text-align:left;
    border:0;
}

.singleColumn {
    padding:0;
    margin:0;
    width:100%;
    text-align:center;
    border:0;
    font-weight:bold;
    color:green;
}

.inputAreas {
    resize:none;
    width:80%;
    height:10%;
    margin: 13px;
}

.button {
    font-size:12px;
    width:60px;
    margin:13px auto;
}

#Startup {
    overflow-y:scroll;
}

#txtSubject {
    resize:none;
    margin:13px;
    width:80%;
    height:20%;
    color:black;
}

#txtUserChat {
    color:green;
}

#txtLog {
    width:95%;
    height:90%;
    color:red;
}

#txtBroadcaster {
    color:blue;
}

#btnSubject{
    vertical-align:top;
}

#btnActivate {
    vertical-align: bottom;
    text-align:center;
    margin:0 auto;
    display:block;
    position:relative;
}

#btnSendTip {
    vertical-align: bottom;
    text-align:center;
    margin:0 auto;
    display:block;
    position:relative;
}

#lstUsers {
    float:left;
    margin: 13px;
}

#inUser {
    width:65%;
}

#inTipNote {
    width:50%;
    height:40%;
    display:block;
}

